@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body,
html,
#__next {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', 'Helvetica', sans-serif;

    a {
        text-decoration: none;
        transition: color 0.24s;
    }
}
