@import '../../styles/_mixins.scss';

.concerts {
    .concerts__loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .concert {
        display: flex;
        margin-bottom: 42px;

        &:last-child {
            margin-bottom: 0;
        }

        .concert__date {
            width: 72px;
            margin-right: 32px;

            .date__day,
            .date__month {
                background: #222;
                border-radius: 4px;
                font-weight: bold;
                padding: 8px;
                text-align: center;
            }
            .date__day {
                font-size: 42px;
                margin-bottom: 8px;
            }

            .date__month {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        .concert__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4,
            p {
                margin: 0 0 8px 0;
                line-height: 1.4;
            }

            a {
                margin-right: 16px;
                font-size: 14px;
                color: aqua;
                text-decoration: none;
                transition: color 0.24s;

                &:hover {
                    color: white;

                    svg {
                        fill: white;
                    }
                }

                svg {
                    width: 12px;
                    fill: aqua;
                    margin-left: 8px;
                    transition: fill 0.24s;
                }
            }
        }
    }
}
