@import '../../styles/_mixins.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 16px;
    box-sizing: border-box;
    position: fixed;
    top: 64px;
    left: 64px;
    right: 64px;
    z-index: 998;

    @media (max-width: 950px) {
        padding: 0;
        top: 42px;
        left: 42px;
        right: 42px;
    }

    .header__logo {
        height: 48px;
        display: flex;
        align-items: center;
        z-index: 1;
        svg {
            height: 48px;
            fill: #fff;
            transition: fill 1s;
        }

        &:hover svg {
            fill: aqua;
        }
        span {
            font-size: 21px;
            font-weight: bold;
            color: white;
            text-transform: lowercase;
            margin-left: 16px;
            display: none;

            @media (max-width: 950px) {
                display: block;
            }
        }
    }

    .header__navigation {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;

            li {
                border-bottom: solid transparent 3px;
                transition: border 2s;
                a {
                    padding: 16px;
                    color: white;
                    text-decoration: none;
                    font-size: 21px;
                    font-weight: bold;
                    text-transform: lowercase;
                    transition: color 0.8s;
                    display: block;

                    &:hover {
                        color: aqua;
                    }
                }

                &.active,
                &:hover {
                    border-color: aqua;
                }
            }
        }

        @media (max-width: 950px) {
            display: none;

            &.header__navigation--active {
                position: fixed;
                display: block;
                background-color: rgba(black, 0.9);
                padding: 32px;
                bottom: 8px;
                left: 8px;
                right: 8px;
                top: 8px;
                z-index: 0;

                ul {
                    display: flex;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .header__toggle {
        z-index: 1;
        display: none;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.8s;
        border-radius: 4px;

        svg {
            fill: white;
            width: 24px;
        }

        &:hover {
            background: aqua;

            svg {
                fill: rgb(8, 65, 65);
            }
        }
        @media (max-width: 950px) {
            display: flex;
        }
    }
}
