@import '../../styles/_mixins.scss';

.hero-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: 64px;
    left: 80px;
    right: 80px;
    color: white;

    @media (max-width: 950px) {
        bottom: 32px;
        left: 42px;
        right: 42px;
        padding: 0;
    }

    .hero-bar__video-info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;

        a {
            cursor: pointer;
            svg {
                height: 24px;
                fill: #fff;
                margin-right: 12px;
                transition: all 0.24s;
            }
            &:hover {
                color: aqua;

                svg {
                    fill: aqua;
                    transform: scale(1.2);
                }
            }
        }

        span {
            @media (max-width: 950px) {
                display: none;
            }
        }
    }

    .hero-bar__links {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;

            li {
                a {
                    margin-left: 8px;
                    height: 42px;
                    width: 42px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    text-decoration: none;
                    transition: all 0.8s;

                    svg {
                        fill: white;
                        height: 20px;
                        transition: fill 0.24s;
                    }

                    &:hover {
                        background: aqua;

                        svg {
                            fill: rgb(8, 65, 65);
                        }
                    }
                }
            }
        }
    }
}
