@import '../../styles/_mixins.scss';

.albums {
    .album {
        display: flex;
        margin-bottom: 42px;

        &:last-child {
            margin-bottom: 0;
        }

        .album__cover {
            width: 175px;
            margin-right: 32px;

            img {
                width: 100%;
                border-radius: 4px;
            }
        }

        .album__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4,
            p {
                margin: 0 0 8px 0;
                line-height: 1.4;
            }
        }
    }

    .info__links {
        display: flex;
        a {
            margin-right: 16px;
            font-size: 14px;
            color: aqua;
            text-decoration: none;
            transition: color 0.24s;

            &:hover {
                color: white;

                svg {
                    fill: white;
                }
            }

            svg {
                width: 12px;
                fill: aqua;
                margin-left: 8px;
                transition: fill 0.24s;
            }
        }
    }
}
